* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #458ff6;
}

.body0 {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  height: auto;
  margin-left: 100px;
  margin-right: 100px;
}

.body1 {
  background: #5b9bf3;
  border-radius: 15px 0px 0px 15px;
  width: 50%;
  height: auto;
  padding-left: 50px;
}

.body1 h3 {
  color: #ffffff;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.body1 p {
  color: #ffffff;
  padding-left: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 50px;
}

.body1 img {
  padding-bottom: 20px;
  padding-top: 20px;
}

.body2 {
  display: grid;
  background-color: #ffff;
  border-radius: 0px 15px 15px 0px;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.body20 {
  text-align: center;
  padding-bottom: 20px;
}

.body20 span {
  color: #0b773c;
}

.body2 h3 {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 85px;
  padding-top: 10px;
}

.body2 p {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.body21 {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  padding-bottom: 20px;
}

.btn1 {
  align-items: center;
  display: flex;
  margin-right: 10px;
  border-radius: 5px 5px;
  padding: 2px;
  height: fit-content;
  width: fit-content;
  padding-right: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  background: #ffffff;
  border: 1px solid #e0dada;
  border-radius: 10px;
}

.btn2 {
  align-items: center;
  display: flex;
  margin-right: 10px;
  border-radius: 5px 5px;
  padding: 2px;
  height: fit-content;
  width: fit-content;
  padding-right: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  background: #ffffff;
  border: 1px solid #e0dada;
  border-radius: 10px;
}
.body22 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.body23 {
  height: auto;
  display: grid;
}

.body23 input {
  width: 80%;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 5px 5px;
  font-weight: 200;
  font-size: 15px;
  line-height: 10px;
  color: #5b9bf3;
  background: rgba(253, 253, 253, 0.5);
  border: 1px solid #ededed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-left: 15px;
}

.body23 label {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.body24 {
  padding-bottom: 20px;
}

.btn3 {
  background: #458ff6;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  width: 85%;
  height: 35px;
  border-radius: 10px;
  border-color: #458ff6;
}

a {
  text-decoration: none;
}
